html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.row:not(:first-child) {
    margin-top: 5px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    padding: 20px;
    border: 5px solid #ccc;
}

.letter span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
    font-size: 2em;
}

.reveal .letter-green {
    background-color: #00ff00;
}

.reveal .letter-yellow {
    background-color: #ffff00;
}

.reveal .letter-gray {
    background-color: #cccccc;
}
