.keyboard {
    margin-top: 2rem;
}

.keyboardRow {
    display: flex;
    margin: 0 auto 8px;
    width: 100%;
    justify-content: center;
}

.key {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 30px;
    border: 2px solid #ccc;
    margin: 0 2px;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

@media (prefers-color-scheme: dark) {
    .key {
        border: 2px solid #444;
    }
}
